.dataset-layer {
    text-align: center;
    width: 100%;
    padding-top: 10rem;
}

.image-col img {
    display: inline-block;
    max-width: 230px !important;
    min-width: 230px !important;
    min-height: 230px !important;
    max-height: 230px !important;
}

.static-layer {
    width: 100%;
    padding: 12rem 0 12rem 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 119, 0.336) 50%, rgba(255, 255, 255, 0.2) 90%);

    h3 {
        padding-bottom: 2rem;
    }
}

.static-img-layer {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
    transition: transform 0.3s;
    padding: 0.3em;
    margin: 0.5em;
    width: 20%;
    max-width: 370px;

    &:hover {
        transform: scale(1.15);
        box-shadow: 0 24px 88px -8px rgba(30, 30, 30, 0.352);
    }
}

#form-layer {
    padding: 9rem 0 12rem 0;
}

.image-col {
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.data-block {
    width: 25%;
    display: inline-block;

    img {
        width: 50%;
    }
}

.img-titles {
    padding-bottom: 4em;
    font-family: OswaldLight !important;
    max-height: 73px !important;
}

.img-blocks {
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.15);
        box-shadow: 0 24px 88px -8px rgba(30, 30, 30, 0.352);
    }
}

.title-block {
    margin: 9rem 0 0 0;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 50px;
    border-top: snow solid 2px;
    border-bottom: snow solid 2px;
    background: rgba(124, 124, 124, 0.089);

    &:hover {
        color: black !important;
    }
}

.artsy-block {
    border: transparent solid 6em;
}

.art-title {
    padding-top: 2em !important;
}

.buffer-block {
    padding-bottom: 2em !important;
}

.top-arrow {
    position: relative !important;
    padding-top: 1.5em !important;
    padding-bottom: 2.5em !important;
    font-size: 25px !important;
}

.btn-default {
    color: black !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

.btn {
    font-size: 2em !important;
}

@keyframes Gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@media screen and (max-width: 1050px) {
    .data-block {
        width: 33%;
    }

    .static-layer {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 500px) {
    .data-block {
        width: 50%;
    }

    .static-img-layer {
        width: 25%;
    }

    .title-block {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #form-layer {
        padding: 1rem 0 3rem 0;
    }

    .image-col img {
        display: inline-block;
        max-width: 130px !important;
        min-width: 130px !important;
        min-height: 130px !important;
        max-height: 130px !important;
    }

    .artsy-block {
        border: transparent solid 2.5em;
    }
}
