.navbar-layer {
    background-color: snow;
    min-height: 10%;
    max-height: 10%;
    font-size: 28px;
    text-align: center;
    overflow: hidden;
}

.navbar-layer a {
    float: right;
    padding: 10px 10px;
    text-decoration: none;
}

.logo-layer {
    display: inline-block;
    position: absolute;
    left: 2%;
    top: 0.35em;
}

.dropdown {
    display: none;
}

.dropdown-content {
    height: 95vh;
    width: 8em;
    position: fixed;
    z-index: 1;
    top: 2em;
    right: 0%;
    background-color: snow;
    overflow-x: hidden;
    padding-top: 50px;
    animation: slideOut 0.3s forwards linear;
    -webkit-animation: slideOut 0.3s forwards linear;
}

.show-nav {
    animation: slideIn 0.3s forwards linear;
    -webkit-animation: slideIn 0.3s forwards linear;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {
    .anchor-layer a {
        display: none;
    }

    .dropdown {
        float: right;
        display: block;
    }

    .dropbtn {
        background-color: snow;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        font-family: LemonMilk;
        outline: none;
        z-index: 3;
    }
}
